In [1]:
import numpy as np
import pandas as pd

In [5]:
df = pd.read_csv("/Users/gulshansingh/Downloads/ Python.csv")

In [7]:
# Function to clean each row
def clean_row(row):
    # Clean and convert order_id
    try:
        row['order_id'] = int(str(row['order_id']).replace('"', '').strip())
    except:
        row['order_id'] = 0

    # Clean and convert product_id
    try:
        row['product_id'] = int(str(row['product_id']).replace('"', '').strip())
    except:
        row['product_id'] = 0

    # Clean and convert quantity
    try:
        qty = str(row['quantity']).replace('"', '').strip()
        row['quantity'] = int(qty) if qty != '' and int(qty) >= 0 else 0
    except:
        row['quantity'] = 0

    # Clean and convert price_per_unit
    try:
        row['price_per_unit'] = float(str(row['price_per_unit']).replace('"', '').strip())
    except:
        row['price_per_unit'] = 0.0

    # Standardize order_date
    try:
        row['order_date'] = pd.to_datetime(str(row['order_date']).replace('"', '').strip(), errors='coerce')
    except:
        row['order_date'] = pd.NaT

    return row

In [9]:
df_cleaned = df.apply(clean_row, axis=1)

# Display cleaned DataFrame
df_cleaned

   order_id  product_id  quantity  price_per_unit order_date
0         1         101         2           20.00 2025-06-01
1         2         102         0           15.50 2025-06-01
2         3         103         1           35.00 2025-06-01
3         4         104         3           20.00 2025-06-02
4         5         105         0           99.00 2025-06-03
5         6         106         2           25.99 2025-06-03

In [10]:
def calculate_total_price(row):
    return row['quantity'] * row['price_per_unit']

In [11]:
df_cleaned['total_price'] = df_cleaned.apply(calculate_total_price, axis=1)

# Display final cleaned DataFrame
df_cleaned

   order_id  product_id  quantity  price_per_unit order_date  total_price
0         1         101         2           20.00 2025-06-01        40.00
1         2         102         0           15.50 2025-06-01         0.00
2         3         103         1           35.00 2025-06-01        35.00
3         4         104         3           20.00 2025-06-02        60.00
4         5         105         0           99.00 2025-06-03         0.00
5         6         106         2           25.99 2025-06-03        51.98

In [12]:
df_cleaned.to_csv('cleaned_sales.csv', index=False)
print("âœ… Cleaned data saved to 'cleaned_sales.csv'")

âœ… Cleaned data saved to 'cleaned_sales.csv'